@model BlazinPizzaCO.Models.Order

@if (Model.Pizzas.Any(p => p.Done) || Model.Drinks.Any() || Model.Sides.Any())
{
    <article id="Basket" class="col-xl-2 h-100 d-flex justify-content-center align-items-center">
        <div class="Inner">

            @if (Model.Pizzas.Any(p => p.Done))
            {
                <div class="Pizzas">
                    @foreach (var item in Model.Pizzas.Where(p => p.Done))
                    {
                        <h4 class="text-light">@item.Inches Pizza (£@item.GetPrice().ToString())</h4>
                        <ul>
                            @foreach (var topping in item.Toppings)
                            {
                                <li>@topping.Name</li>
                            }
                        </ul>
                    }
                </div>
            }

            @if (Model.Sides.Any())
            {
                <div class="Sides">
                    <h5>Sides (£@Model.GetSideTotal().ToString())</h5>
                    <ul>
                        @foreach (var item in Model.Sides)
                        {
                            <li>@item.Name</li>
                        }
                    </ul>
                </div>
            }

            @if (Model.Drinks.Any())
            {
                <div class="Drinks">
                    <h5>Drinks (£@Model.GetDrinkTotal().ToString())</h5>
                    <ul>
                        @foreach (var item in Model.Drinks)
                        {
                            <li>@item.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <a class="OrderButton" href="@Url.Action("OrderDone", new { orderID = Model.ID })">Finish & Pay</a>

    </article>
}
else
{
    <article id="Basket" class="col-xl-2 h-100 d-flex justify-content-center align-items-center">
        <h4>No items in the basket...</h4>
    </article>
}


