@model BlazinPizzaCO.Models.Order

@if (Model.Pizzas.Any(p => p.Done) || Model.DrinksPerOrder.Any() || Model.SidesPerOrder.Any())
{
    <article id="Basket" class="col-xl-2 h-100 d-flex justify-content-center align-items-center">
        <div class="Inner">

            @if (Model.Pizzas.Any(p => p.Done))
            {
                <div class="Pizzas">
                    @foreach (var item in Model.Pizzas.Where(p => p.Done))
                    {
                        <h4 class="text-light">@item.Inches Pizza (£@item.GetPrice().ToString())</h4>
                        <ul>
                            @foreach (var topping in item.Toppings)
                            {
                                <li>@topping.Name</li>
                            }
                        </ul>
                    }
                </div>
            }

            @if (Model.SidesPerOrder.Any())
            {
                <div class="Sides">
                    <h4>Sides (£@Model.GetSideTotal().ToString())</h4>
                    <ul>
                        @foreach (var item in Model.SidesPerOrder)
                        {
                            <li>@item.Amount @item.Side.Name</li>
                        }
                    </ul>
                </div>
            }

            @if (Model.DrinksPerOrder.Any())
            {
                <div class="Drinks">
                    <h4>Drinks (£@Model.GetDrinkTotal().ToString())</h4>
                    <ul>
                        @foreach (var item in Model.DrinksPerOrder)
                        {
                            <li>@item.Amount @item.Drink.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <a class="OrderButton" href="@Url.Action("OrderDone", new { orderID = Model.ID })">Finish & Pay</a>

        <h4 class="Total">Total: £@Model.GetTotal().ToString()</h4> 

    </article>
}
else
{
    <article id="Basket" class="col-xl-2 h-100 d-flex justify-content-center align-items-center">
        <h4>No items in the basket...</h4>
    </article>
}


