<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BLAZIN PIZZA CO.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="@Url.Action("Home", "Blazin")">
            <div id="Banner" class="justify-content-center">
                <h1 id="BannerText" class="d-block">BLAZIN</h1>
                <h1 id="BannerText" class="d-block">PIZZA CO.</h1>
            </div><!--/#Banner-->
        </a><!--/.navbar-brand-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarCollapse">
            <i id="NavbarToggler" class="far fa-compass text-light"></i>
        </button><!--/.navbar-toggler-->
        <div id="NavbarCollapse" class="collapse navbar-collapse text-center">
            <div id="NavbarNav" class="ml-auto navbar-nav">
                <a class="Order nav-item nav-link active" href="@Url.Action("Order", "Blazin")">ORDER </a>
                <a class="Login nav-item nav-link" href="@Url.Action("Login", "Account")">SIGN IN</a>
                <a class="Register nav-item nav-link" href="@Url.Action("Register", "Account")">REGISTER</a>
            </div><!--/#NavbarNav-->
        </div><!--/#NavbarCollapse-->
    </nav><!--/.navbar-->

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    <script type="text/javascript">
        //Navigation Link "Active"
        $(".nav-link").click(function () {
            $(".nav-link.active").removeClass("active");
            $(this).addClass("active");
        });

        //Banner Hover Function
        $("#Banner").mouseover(function () {
            $(this).children().css("color", "#E2E2E2");
        });
        $("#Banner").mouseout(function () {
            $(this).children().css("color", "#AFAFAF");
        });
    </script>
</body>
</html>
