@model BlazinPizzaCO.Models.PaymentDetails

@{
    ViewBag.Title = "Enter Payment Details";
}

<section id="FinalizeOrder">
    <div id="PageContainer" class="container-fluid">
        <div id="PageRow" class="row">

            <article class="PageHead col-10 offset-1">
                <a class="BackButton" href="@Url.Action("ReviewOrder", new { orderID = Model.OrderID })">BACK</a>
                <h2 class="Header">FINALIZE ORDER</h2>
            </article><!--/#Banner-->


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="Form col-10 offset-1">
                    <div class="form-row">
                        @Html.HiddenFor(m => m.ID, new { value = Model.ID })
                        @Html.HiddenFor(m => m.OrderID, new { value = Model.OrderID })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-10 offset-1" })


                        <div class="form-group col-10 offset-1">
                            @Html.LabelFor(model => model.AddressFirstLine, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.AddressFirstLine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AddressFirstLine, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-10 offset-1">
                            @Html.LabelFor(model => model.AddressSecondLine, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.AddressSecondLine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AddressSecondLine, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-10 offset-1">
                            @Html.LabelFor(model => model.PostCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-10 offset-1">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-10 offset-1">
                            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-5 offset-1">
                            @Html.LabelFor(model => model.SortCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SortCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SortCode, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-5">
                            @Html.LabelFor(model => model.SecurityCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SecurityCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    <div class="Done form-group col-10 offset-1">
                        <input type="submit" value="Submit" class="Confirm btn btn-default" />
                    </div>
                
            }
                

        </div><!--/#PageRow-->
    </div><!--#PageContainer-->
</section><!--/#PizzaSize-->



